.geo-services {
  &-card {
    background: #f5f9ff;
    h3 {
      font-weight: 700;
      font-size: clump(22px, 2.5vw, 24px);
      color: #2d6ac8;
    }

    p {
      font-weight: 500;
      font-size: clamp(16px, 2.5vw, 18px);
      color: #2d6ac8;
    }
  }
}
