header {
  background: linear-gradient(0deg, #003283 0%, rgba(14, 93, 222, 0.8) 100%);

  .header-nav {
    background: #ffffff4f;

    .search-box-header {
      width: 216px;
      height: 38px;
      border-radius: 30px;
    }

    .btn-search {
      background-color: #fff;
    }

    .btn-header-nav {
      color: #003998;
      background-color: #fff;
      border: 1px solid #003998;
      font-family: Manrope;
      font-weight: 500;
      font-size: 14px;

      &:hover,
      &.active {
        background: #003998;
        color: #fff;
      }
    }
  }

  .header-content {
    @media screen and (min-width: 1400px) {
      height: 790px;

      .header-text {
        position: absolute;
        bottom: -75px;
        left: -70px;
      }
    }

    @media screen and (min-width: 1800px) {
      height: 1080px;

      .header-text {
        position: relative;
        bottom: 100px;
      }
    }

    .header-img {
      position: relative;

      .header-img-top {
        position: relative;
        z-index: 2;

        img {
          filter: sepia(1) saturate(4) hue-rotate(175deg);
          width: 100%;
          height: 100%;
          object-fit: contain;
          transform: scaleX(-1);
          display: block;
        }
      }

      .header-img-back {
        position: absolute;
        inset: 0; // вместо top/left/right/bottom:0
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          display: block;
          opacity: 0.3;

          @media screen and (max-width: 1024px) {
            scale: 1.2;
          }
        }
      }
    }

    p {
      padding: 6em 0 0 4em;
      max-width: 80%;
      font-family: 'Manrope';
      font-weight: 500;
      font-size: clamp(18px, 2.5vw, 20px);
      color: #ffffff;

      @media screen and (max-width: 1400px) {
        max-width: 100%;
        padding: 0 15px;
      }
    }

    .btn-order {
      width: 240px;
      height: 56px;
      background: #ffffff;
      font-family: 'Manrope';
      font-weight: 700;
      color: #003998;
      margin-left: 5em;

      @media screen and (max-width: 1400px) {
        margin: 0 15px;
        width: calc(100% - 15px * 2);
      }

      &:hover {
        background: #2d6ac8;
        color: #ffffff;
      }
    }
  }
}
