.promo-request {
  .promo-form {
    p {
      font-size: clamp(15px, 2.5vw, 20px);
    }
    background: #f5f9ff;

    input[type='text'],
    input[type='email'] {
      border: 1px solid #97aac673;
      height: 50px;
      max-width: 454px;
      margin-bottom: 10px;
      padding: 0 15px;

      &::placeholder {
        color: #2d6ac8ab;
      }
    }

    input[type='submit'] {
      color: #fff;
      background: #2d6ac8;
      border: none;
      margin-top: 32px;
      height: 50px;
      max-width: 454px;
    }
  }
  p {
    font-weight: 400;
    font-size: 15px;
  }
}
