.values {
  h2 {
    color: #2d6ac8;
    max-width: 490px;
  }

  p {
    font-weight: 400;
    font-size: clamp(16px, 2.5vw, 18px);
    color: #2d6ac8;
    max-width: 490px;

    span {
      display: block;
      margin-top: 15px;
      color: #2d6ac899;
    }
  }
  .values-cards-header {
    font-size: clamp(24px, 2.5vw, 30px);
  }
  .values-card {
    border: 1px solid #2d6ac899;
    height: 200px;
    h3 {
      font-weight: 500;
      font-size: clamp(24px, 2.5vw, 25px);
      color: #2d6ac8;
      margin: 0;
    }

    p {
      font-weight: 400;
      font-size: clamp(14px, 2.5vw, 16px);
      color: #2d6ac8;
      margin: 0;
    }
  }
}
